@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(210, 210, 210);
}
header {
    background-color: gray;
}
header > h1 {
    text-align: center;
    padding: 10px;
}
menu > ul > li {
    background-color: rgb(90, 90, 90);
    color: white;
    padding: 15px;
    display: inline-block;
}
menu > ul > li > a {
    text-decoration: none;
    color: white;
}
main {
    padding: 10px;
}
article {
    border-radius: 10px;
    background-color: white;
    margin: auto;
    padding: 10px;
    width: 70vw;
    max-width: 700px;
}
article > p {
    text-align: justify;
    padding: 10px;
}